* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 12px;
}
.container {
  margin: 50px 0;
  display: flex;
  align-items: flex-start;
}
.container .card {
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* transition: 0.3s; */
  border-radius: 5px;
}
img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card div {
  margin: 10px;
}
.card-info p:first-of-type {
  margin-bottom: 10px;
  color: grey;
}
button {
  color: blue;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.card-profile-name {
  display: inline-block;
}
.card-profile-name p:last-of-type {
  color: grey;
}
.card-profile img {
  border-radius: 50%;
  width: 15%;
}
.icon img {
  width: 5%;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup h4 {
  margin-top: 0;
  margin-bottom:10px ;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.content img{
    width: 50%;
}
